 <h2 class="page-header">Select your Character</h2>
<p>Welcome {{user.name}}, Select the character you want to play as</p>


<form action="/game">
    <div id="characterDisplay"></div>
</form> 













 <script src="js/getCharacterInfo.js"></script>