 <h2 class="page-header">Index/Homepage</h2>
<p>Welcome {{user.name}}, Select the character you want to play as</p>

<ul id="characterDisplay">


</ul> 













 <script src="js/getCharacterInfo.js"></script>