 <h2 class="page-header">Index/Homepage</h2>
<p>Welcome {{user.name}}, Select the character you want to play as</p>

{{#each characters}}
<h2>Character Name:{{character.characterName}}</h2>

{{/each}}  













 <script src="js/getCharacterInfo.js"></script>