 <h2 class="page-header">Create a Character</h2>



<form>
   <div class="form-group">
    <label>Character Name</label>
    <input type="text" class="form-control" id="characterName" placeholder="CharacterName">
  </div>
  
  
<h3>Select Character Class</h3>
  <button class="btn-btn-default" id="createArcher">Archer</button>
  <button class="btn-btn-default" id="createMage">Mage</button>
  <button class="btn-btn-default" id="createWarrior">Warrior</button>
</form>






 <script src="js/characterPage.js"></script>