<div id='welcome'>
    <h3>Welcome, {{user.name}}</h3>
    <h4>Waiting for players to join the Lobby</h4>
</div>

<div id="playerDiv"></div>

<button id="createEnemyBtn">Create Enemy</button>
<button id="enemyCombatRollBtn">Enemy Combat Roll</button>
<button id="enemyCheckRollBtn">Enemy Check Roll</button>

<div id="enemyDiv"></div>















<script src="/socket.io/socket.io.js"></script>
<script src="js/dm.js"></script>