<h3 id="welcome"></h3>

<ul id="characterInfoDisplay"></ul>

<h3 id="enemyName"></h3>
<ul id="enemyInfoDisplay"></ul>

<div id="diceDiv"></div>

<button id="combatRoll">Combat Roll</button>
<button id="checkRoll">Check Roll</button>








<script src="js/game.js"></script>