 <h2 class="page-header">Index/Homepage</h2>
<p>Welcome {{user.name}}</p>  


<form action="/createCharacter">
 <button type="submit" class="btn btn-default">Create a new Character</button>
</form>

<form action="/characters">
 <button type="submit" class="btn btn-default">Select Existing Character</button>
</form>